<footer class"footer">
  <small>
    <a href="http://getfucked.com/">Get it</a>
    by keppy
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %>
      <li><%= link_to "Contact", contact_path %>
      <li> <a href="http://news.getfucked.com/">News</a></li>
    </ul>
  </nav>
</footer>
